<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CS215 Lab12 sp2018 chat server</title>
  </head>
  <body>
    <h1 id="head">CS215 Lab12 sp2018 chat server</h1>
    <form id="message-form" action="#">
      <textarea id="message" rows="4" cols="30"></textarea>
      <input type="submit" value="Send message" />
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="../socket.io/socket.io.js"></script>
     <script src="../scripts/clientscript.js"></script>
  </body>
</html>

